.heading-user-list {
  display: flex;

  & > div {
    width: 15%;
    padding: 20px 0;
    text-align: center;
    color: #2d567a;
    font-weight: bold;
    background: #ebebeb;
    border-top: 1px solid #c5c5c5;

    &:last-child {
      border-right: 1px solid #c5c5c5;
    }
    &:first-child {
      border-left: 1px solid #c5c5c5;
    }
  }
}
