.user-info {
  display: flex;
  width: 100%;

  & > div {
    width: 15%;
    padding: 15px 0;
    text-align: center;
    color: #2f2f2f;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;

    &:last-child {
      border-right: 1px solid #c5c5c5;
    }

    &:first-child {
      border-left: 1px solid #c5c5c5;
    }
  }

  & > .user-password {
    position: relative;
  }

  & > .user-password .show-password {
    display: none;
  }

  & > .user-password:hover {
    cursor: help;
  }

  & > .user-password:hover .show-password {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    background: #335f88;
    border-radius: 5px;
  }
}
