.header {
  width: 100%;
  padding: 10px 0;
  background: #3f75a4;

  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .nav-link {
      padding: 20px 50px;
      height: 50px;
      color: #ffffff;
      text-shadow: 0 0 3px #023967;
      letter-spacing: 0.1rem;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid #eefaff;
        transition: border-bottom 1.5s;
      }
    }
  }
}
