.search-panel-wrapper {
  margin: 50px 5% 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 500px;

  span {
    color: #2a538a;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .search-input {
    width: 320px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #033e70;
    border-radius: 3px;
    outline: none;
    &:focus::placeholder {
      color: transparent;
    }
  }
}
