.user-info {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & > div {
    flex-basis: 150px;
    flex-grow: 1;
    padding: 15px 0;
    text-align: center;
    color: #2f2f2f;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;

    &:last-child {
      border-right: 1px solid #c5c5c5;
    }

    &:first-child {
      border-left: 1px solid #c5c5c5;
    }

    .user-name {
      color: #1e3850;
      font-size: 1.2rem;
    }
  }

  & > .user-password {
    position: relative;

    & > span:first-child {
      color: #033e70;
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
  }

  & > .user-password .show-password {
    display: none;
  }

  & > .user-password:hover {
    cursor: help;
  }

  & > .user-password:hover span:first-child {
    visibility: hidden;
  }

  & > .user-password:hover .show-password {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    letter-spacing: 0.1rem;
    text-align: center;
    background: rgba(37, 69, 101, 0.56);
    border-radius: 5px;
  }
}
