.login-wrapper {
  width: 100%;

  .form-login-wrapper {
    width: 450px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#315c83, #4582ba);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #848b8f;

    .form-heading {
      padding: 20px 0;
      font-size: 1.5rem;
      font-weight: 100;
      text-shadow: 0 0 3px #023967;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
    }

    .input-login-wrapper {
      margin: 20px;

      span {
        display: inline-block;
        width: 110px;
        font-size: 1.2rem;
        color: #ffffff;
      }

      input {
        margin-left: 10px;
        width: 200px;
        border: none;
        border-radius: 3px;
        padding: 5px;
        outline: none;
        box-shadow: 0 0 3px 0 #033767;
        &:focus::placeholder {
          color: transparent;
        }
      }
    }

    .btn-submit {
      width: 105px;
      padding: 10px 0;
      margin: 20px auto 30px;
      border: none;
      border-radius: 3px;
      font-size: 1rem;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #274a69;
      box-shadow: inset 0 0 5px 0 #1e3850;

      &:hover {
        cursor: pointer;
        background-color: #1e3850;
      }
    }
  }
}
